
.btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 550px;
  cursor: pointer;
}

.calculator {
  display: flex;
  justify-content: space-around;
}

.calculator-input {
  width: 550px;
  padding: 20px;
  background-color: #ccc;
  border: none;
  text-align: right;
}

.calculator-input:focus {
  border: none;
  outline: none;
}

.btn {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}

.operator {
  background-color: orange;
}

.zero {
  grid-column: 1/ span 2;
}

.nav {
  background: #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.5rem;
}

.nav-items {
  display: flex;
  gap: 10px;
}

.nav-items .nav-item a {
  padding: 1rem;
}

.nav-item a:hover {
  background-color: #ddd;
  border-radius: 10px;
  text-decoration: underline;
}

.container {
  padding: 2rem;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.quote p {
  font-size: 1.5rem;
}

.home {
  max-width: 80%;
  margin: auto;
}
.welcome-msg {
  margin-bottom: 1.5rem;
}

.home p {
  margin-top: 1.5rem;
}