
.btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 550px;
  cursor: pointer;
}

.calculator-input {
  width: 510px;
  padding: 20px;
  background-color: #ccc;
  border: none;
  direction: rtl;
}

.calculator-input:focus {
  border: none;
  outline: none;
}

.btn {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.operator {
  background-color: orange;
}

.zero {
  grid-column: 1/ span 2;
}
